*.dist  text eol=lf
*.json  text eol=lf
*.md    text eol=lf
*.php   text eol=lf
*.txt   text eol=lf
*.yml   text eol=lf
/.coveralls.yml export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/composer.lock export-ignore
/phpcs.xml export-ignore
/phpunit.xml.dist export-ignore
/test/ export-ignore
