*.dist  text eol=lf
*.json  text eol=lf
*.md    text eol=lf
*.php   text eol=lf
*.xml   text eol=lf
*.yml   text eol=lf
/.github/         export-ignore
/tests/           export-ignore
/.editorconfig    export-ignore
/.gitattributes   export-ignore
/.gitignore       export-ignore
/.scrutinizer.yml export-ignore
/phpcs.xml.dist   export-ignore
/phpunit.xml.dist export-ignore
/psalm.xml.dist   export-ignore
