name: captcha

services:
  php-nginx:
    build: .docker
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html

  composer:
    image: composer:lts
    user: ${USER_ID:-1000}:${GROUP_ID:-1000}
    restart: no
    command: install --ignore-platform-req=ext-gd
    volumes:
      - .:/app
