<?xml version="1.0"?>
<psalm
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="https://getpsalm.org/schema/config"
        xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
        findUnusedBaselineEntry="true"
        findUnusedPsalmSuppress="true"
        findUnusedCode="false"
        findUnusedVariablesAndParams="true"
        cacheDirectory=".cache"
>

    <projectFiles>
        <directory name="src"/>
    </projectFiles>
</psalm>
